{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block page_title %}{{revision_id}} - Lando - Mozilla{% endblock %}

{% block main %}
<main class="StackPage container fullhd">
  {% if errors %}
  <div class="StackPage-errors">
    <span>Landing Failed</span>
    <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <h1>Landings for Stack Containing {{revisions[revision_phid]['id']}}</h1>
  {% include "stack/partials/timeline.html" %}

  <h1>Stack containing revision {{revisions[revision_phid]['id']}}</h1>
  <div class="StackPage-stack">
    <table class="table">
      <thead>
        <tr>
          <th>Land</th>
          <th></th>
          <th>Bug</th>
          <th>Status</th>
          <th>Revision</th>
          <th>Reviewers</th>
        </tr>
      </thead>
      <tbody>
      {% for phid, drawing in rows %}
        {% set revision = revisions[phid] %}
        <tr
          class="StackPage-revision{%
            if series and phid in series %} StackPage-revision-in-series{% endif
          %}{%
            if phid in landable %} StackPage-revision-in-landable{% endif
          %}{%
            if revision['status']['closed'] %} StackPage-revision-is-closed{% endif
          %}">
          <td class="StackPage-revision-land">
            {% if phid in landable %}
              <input
                class="StackPage-revision-land-radio"
                id="{{revision['id']}}"
                name="tip"
                type="radio"
                {% if phid == revision_phid %}checked{% endif %}
              >
            {% endif %}
          </td>
          <td class="StackPage-revision-graph">
            <div class="StackPage-revision-graph-container">
            {% include "stack/partials/graph-drawing.html" %}
            </div>
          </td>
          <td class="StackPage-revision-bug">
            {% if revision['bug_id'] is not none %}
            <a href="{{revision['bug_id']|bug_url}}">{{revision['bug_id']}}</a>
            {% else %}
            -
            {% endif %}
          </td>
          <td class="StackPage-revision-status">
            {% include "stack/partials/revision-status.html" %}
          </td>
          <td class="StackPage-revision-title">
            <div class="StackPage-revision-title-text">
              <a href="{{revision['url']}}">{{revision['id']}}</a>: {{revision['title']}}
            </div>
          </td>
          <td class="StackPage-revision-reviewers">
            {% with reviewers=revision['reviewers'] %}
            {% include "stack/partials/revision-reviewers.html" %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="StackPage-landing-info">

  {% set blockers = [] %}
  {% if is_user_authenticated() and blockers %}
    <h2>Landing is blocked:</h2>
    <ul class="StackPage-blockers">
    {% for blocker in blockers %}
      <li class="StackPage-blocker">
          {{ blocker|escape_html|linkify_faq|safe }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>

  <div class="StackPage-actions">
  {% if not is_user_authenticated() %}
    <button disabled>
      <div class="StackPage-actions-headline">Preview Landing</div>
      <div class="StackPage-actions-subtitle">You must log in first</div>
    </button>
  {% elif not user_has_phabricator_token() and (not series or dryrun is none) %}
    <button disabled>
      <div class="StackPage-actions-headline">Landing Blocked</div>
      <div class="StackPage-actions-subtitle">This revision is blocked from landing</div>
    </button>
  {% else %}
    <button class="StackPage-preview-button">
      <div class="StackPage-actions-headline">Preview Landing</div>
    </button>
  {% endif %}

  </div>

  {% if is_user_authenticated() %}
  <div class="StackPage-landingPreview modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Preview landing</p>
        <button class="StackPage-landingPreview-close delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        {% include "stack/partials/landing-preview.html" %}
      </section>
      <footer class="modal-card-foot">
        <form class="StackPage-form" action="" method="post">
          {{form.csrf_token}}
          {{form.landing_path}}
          {{form.confirmation_token}}
          {{form.flags}}
          <button
              class="StackPage-landingPreview-land button"
              data-target-repo="{{ target_repo['url']|repo_path }}"
              disabled>
            Land to {{ target_repo['url']|repo_path }}
          </button>
          <button class="StackPage-landingPreview-close button">Cancel</button>
        </form>
        {% if user_has_phabricator_token() %}
            <form class="StackPage-landingPreview-uplift" action="{{ url_for('revisions.uplift') }}" method="post">
              {{ uplift_request_form.csrf_token }}
              <input type="hidden" name="revision_id" value="{{ revision_id }}" />
              {{ uplift_request_form.repository }}
              <button class="button">Request uplift</button>
            </form>
        {% endif %}
      </footer>
    </div>
  </div>
  {% endif %}

  <div class="StackPage-secRequestSubmitted modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Request submitted</p>
        <button class="StackPage-secRequestSubmitted-close delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>Your request for review by the sec-approval team has been submitted.</p>
        <p><a href="{{ submitted_rev_url }}">View my request in Phabricator</a></p>
      </section>
      <footer class="modal-card-foot">
        <button class="StackPage-secRequestSubmitted-close button" aria-label="close">Close</button>
      </footer>
    </div>
  </div>

</main>
{% endblock %}
