[flake8]
max-line-length = 80
select = C,E,F,W,B,B9
ignore = E203, E501, W503, B006, E231
exclude =
    .hg,
    .git,
    __pycache__,
    .cache,
    # Don't check parts of the tree where there is no python.
    docker,
    # Ignore test data, which is annoying to properly format.
    tests/canned_responses/,
