alabaster==0.7.12
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
beaker==1.10.0
black==21.11b1
blinker==1.4
certifi==2018.10.15
cffi==1.14.0
chardet==3.0.4
cryptography==41.0.0
flake8==3.7.9
flask-assets==0.12
flask-pyoidc==3.7.0
oic==1.2.1
# Required by flask-pyoidc, can be removed when flask-pyoidc is updated.
mako>=1.2.2
flask-talisman==0.6.0
flask-wtf==0.14.3
flask==1.1.1
pathlib2==2.3.2
pyopenssl==18.0.0
pytest-flask==0.15.1
pytest==5.3.5
pyyaml==5.4.1
requests==2.25.1
requests_mock==1.7.0
sentry-sdk==1.14.0
uwsgi==2.0.18
webassets==0.12.1
werkzeug==1.0.0
webassets==0.12.1
wtforms==2.2.1
