{% extends "partials/layout.html" %}

{% from "partials/forms.html" import input, radio %}

{% block main %}
<main class="container content">
  <div>
    <h1>New Uplift Request for <a href="{{ url_for('revisions.revision', revision_id=revision_id) }}">D{{ revision_id }}</a></h1>

    {% if not phabricator_token_available %}
    <div class="notification is-warning">
      <h4>Missing Phabricator API token</h4>
      Lando needs a Phabricator API token to be able to post uplift revisions and comments on your behalf. Please fill the settings form when clicking on your user name in the navigation bar above.
    </div>
    {% endif %}

    {% if uplift_request %}
    <article class="message is-info">
      <div class="message-header">
        <p>New uplift request on {{ uplift_request.repository }}</p>
      </div>
      <div class="message-body">
        A new revision <a href="{{ revision.url }}" target="_blank">D{{ revision.revision_id }}</a> has been created.
      </div>
    </article>

    {% elif repositories %}
    <form method="POST" action="{{ url_for('revisions.uplift', revision_id=revision_id) }}">
      {{form.csrf_token}}
      {{ input(form.repository ) }}
      {{ input(form.user_impact, "textarea") }}
      {{ input(form.steps_to_reproduce, "textarea") }}
      {{ input(form.risky, "textarea") }}
      {{ radio(form.automated_tests) }}
      {{ radio(form.nightly) }}
      {{ radio(form.manual_qe) }}
      {{ radio(form.risk) }}
      {{ input(form.string_changes) }}

      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary" {% if not phabricator_token_available %}disabled="disabled"{% endif %}>
                Send uplift request
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% else %}
    <p>No repositories need an uplift request to land that revision</p>
    {% endif %}

  </div>
</main>
{% endblock %}
