/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import "../colors";

.QueuePage {
  
}

.QueuePage-options {
  display: flex;
  justify-content: space-between;
  align-content: left;
  margin: 1rem 0 1rem 0;

  &Repo {
    flex: 1;
  }

  &IsMine {
    flex: 1;
  }
}


.QueuePage-listHeaders {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;

  &Position {
    flex: 1;
  }

  &Age {
    flex: 1;
  }

  &Id {
    flex: 2;
  }

  &Bug {
    flex: 2;
  }

  &RequestedBy {
    flex: 2;
  }
}

.QueuePage-revision {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0 0.25rem 0;

  &:hover {
    background-color: #fff2c4;
    cursor: pointer;
  }

  &Position {
    flex: 1;
  }

  &Age {
    flex: 1;
  }

  &Id {
    flex: 2;
  }

  &Bug {
    flex: 2;
  }

  &RequestedBy {
    flex: 2;
  }
}
