/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import "../colors";

.recent-changes-update-hidden {
    // Hide the hidden elements in the recent changes view.
    display: none;
}

.log-update-hidden {
    // Hide the hidden elements in the log update view.
    display: none;
}

.select-trees-box {
    // Remove the spaces between tree boxes.
    margin-bottom: 0rem !important;
}

.tree-category-header {
    // Add some padding category header elements.
    padding-top: 1rem;
}
