// In dev, you must make a change in lando.scss for changes here to be detected.
// This file isn't autowatched by the Flask asset pipeline.
$orange: #ff7700;
$yellow: #ffe900;
$green: #30e60b;
$turquoise: #008ea4;
$blue: #0a84ff;
$purple: #9400ff;
$red: #d70022;
$white-ter: hsl(0, 0%, 90%);
$white-bis: hsl(0, 0%, 93%);
$ink: #363959;
$darkink: #202340;