# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# These environment variables must be set in CircleCI UI
#
# DOCKERHUB_REPO - docker hub repo, format: <username>/<repo>
# DOCKER_EMAIL   - login info for docker hub
# DOCKER_USER
# DOCKER_PASS

version: 2
jobs:
  full:
    docker:
      - image: cimg/base:2020.01
        user: root
    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Create version.json
          command: |
            echo "
              {
                \"commit\": \"$CIRCLE_SHA1\",
                \"version\": \"$CIRCLE_SHA1\",
                \"source\": \"https://github.com/mozilla-conduit/lando-ui\",
                \"build\": \"$CIRCLE_BUILD_URL\"
              }
            " > version.json
            mkdir /tmp/artifacts && cp version.json /tmp/artifacts/version.js

      - run:
          name: Build the image
          command: |
            docker build --pull \
              -f docker/Dockerfile-prod \
              -t mozilla/landoui .
      - run:
          name: Get image id
          command: |
            docker inspect -f '{{.Id}}' mozilla/landoui \
              | tee /tmp/artifacts/docker-image-shasum256.txt
      - store_artifacts:
          path: /tmp/artifacts

      - run:
          name: Create docker volumes for copying data
          command: |
            docker volume create landoui_lando_test_results
            docker create --name temp_container \
              -v landoui_lando_test_results:/landoui_lando_test_results \
              hello-world

      - run:
          name: Run the tests
          command: |
            docker-compose \
              -f docker/docker-compose.ci.yml \
              -p landoui \
              run lando-ui pytest --junitxml=/test_results/junit.xml

      - run:
          name: Copy the test report
          when: always
          command: |
            mkdir /tmp/test-reports
            docker cp temp_container:/landoui_lando_test_results/junit.xml /tmp/test-reports/junit.xml

      - store_test_results:
          path: /tmp/test-reports

      - store_artifacts:
          path: /tmp/test-reports

      - deploy:
          command: |
            if [[ "x$DOCKERHUB_REPO" != x ]]; then
              docker login -u "$DOCKER_USER" -p "$DOCKER_PASS"
              docker tag "mozilla/landoui" "${DOCKERHUB_REPO}"
              docker tag "mozilla/landoui" "${DOCKERHUB_REPO}:${CIRCLE_SHA1}"
              docker push "${DOCKERHUB_REPO}:${CIRCLE_SHA1}"
              if [[ ${CIRCLE_TAG} =~ ^release-[0-9]+$ ]]; then
                docker tag "mozilla/landoui" "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
                docker push "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              elif [[ ${CIRCLE_BRANCH} == develop ]]; then
                docker tag "mozilla/landoui" "${DOCKERHUB_REPO}:develop-${CIRCLE_SHA1}"
                docker push "${DOCKERHUB_REPO}:develop-${CIRCLE_SHA1}"
              elif [[ ${CIRCLE_BRANCH} == staging ]]; then
                docker tag "mozilla/landoui" "${DOCKERHUB_REPO}:staging-${CIRCLE_SHA1}"
                docker push "${DOCKERHUB_REPO}:staging-${CIRCLE_SHA1}"
              fi
            fi

workflows:
  version: 2
  main:
    jobs:
      - full:
          filters:
            tags:
              only:
                - /^release-[0-9]+$/
            branches:
              ignore:
                # It's useful to not build branches that contain slashes,
                # if it is later decided to map branches to docker tags.
                - /\//
