{% if dryrun is none %}
  <h3 class="StackPage-landingPreview-sectionLabel">Landing is Blocked</h3>
  <div class="StackPage-landingPreview-section StackPage-landingPreview-blocker">
    Reason for blockage is unknown
  </div>
{% elif dryrun['blocker'] %}
  <h3 class="StackPage-landingPreview-sectionLabel">Landing is Blocked</h3>
  <div class="StackPage-landingPreview-section StackPage-landingPreview-blocker">
    {{ dryrun['blocker']|escape_html|linkify_faq|safe }}
  </div>
{% elif series %}
  <h3 class="StackPage-landingPreview-sectionLabel">
    Landing To: &nbsp;
    <a class="StackPage-landingPreview-landingTo" href="{{ target_repo['url'] }}">
      {{ target_repo['url']|repo_path }}
    </a>
  </h3>

  <div class="StackPage-landingPreview-sectionHeader">
    <h3 class="StackPage-landingPreview-sectionLabel">Commits:</h3>
    <div>
      <button class="StackPage-landingPreview-expandAll button">Show All</button>
      <button class="StackPage-landingPreview-collapseAll button">Hide All</button>
    </div>
  </div>
  <div class="StackPage-landingPreview-section StackPage-landingPreview-commitList">
  {% for phid in series %}
  {% set revision = revisions[phid] %}
    {% if not loop.first %}<hr>{% endif %}
    <div class="StackPage-landingPreview-revision">
      <div class="StackPage-landingPreview-commitDetails">
        <div>
          <a href="{{revision['url']}}?id={{revision['diff']['id']}}">
            {{revision['id']}} Diff {{revision['diff']['id']}}
          </a>
          - commit author
          <strong>
            {{revision['diff']['author']['name'] or 'Unknown'}}
            {% if revision['diff']['author']['email'] %}
              &lt;{{revision['diff']['author']['email']}}&gt;
            {% endif %}
          </strong>
        </div>
        <button class="StackPage-landingPreview-expand button"></button>
      </div>
      {% if revision['should_use_sec_approval_workflow'] %}
      <div class="StackPage-landingPreview-secureRevisionWarning">
        <p>
          <strong>Warning:</strong> This is a secure revision and should follow the
          <a href="">Security Bug Approval Process</a>.
        </p>
        <p>
          You should consider editing the commit message so that it does not leak
          security-sensitive information into the Mozilla source repositories.
        </p>
        <button class="StackPage-landingPreview-editMessage button">Edit Commit Message</button>
      </div>
      {% endif %}
      <div class="StackPage-landingPreview-displayMessagePanel">
        <pre class="StackPage-landingPreview-commitMessage">{{
        revision['commit_message']|escape_html|linkify_bug_numbers|linkify_revision_urls|safe
      }}</pre>
        <div class="StackPage-landingPreview-seeMore"></div>
      </div>
      <div class="StackPage-landingPreview-editMessagePanel">
        <form action="/request-sec-approval" method="post">
          {{sec_approval_form.csrf_token}}
          <input type="hidden" name="revision_id" value="{{ revision['id'] }}" />
          <label for="new_message">New commit message:</label>
<textarea
        cols="120"
        rows="5"
        name="new_message"
>{{ revision['title']|safe }}

{{ revision['summary']|safe}}</textarea>
          <ul class="StackPage-landingPreview-editMessagePanel-formErrors">
          </ul>
          <div class="StackPage-landingPreview-editMessagePanel-foot">
            <button type="submit" class="button">Submit For Approval</button>
            <button type="reset" class="StackPage-landingPreview-cancelMsgEditBtn button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  {% endfor %}
  </div>
  <h3 class="StackPage-landingPreview-sectionLabel">Warnings:</h3>
  <div class="StackPage-landingPreview-section StackPage-landingPreview-warnings">
    {% if dryrun['warnings'] %}
    <ul class="StackPage-landingPreview-warningsList">
      {% for warning in dryrun['warnings'] %}
        <li class="StackPage-landingPreview-warning">
          <label>
            <input type="checkbox" name="warnings[]" value="1" />
            {{ warning['display']|escape_html|linkify_bug_numbers|linkify_revision_urls|linkify_faq|linkify_sec_bug_wiki|safe}}
            [{% for instance in warning['instances'] %}{{
              ", " if not loop.first else ""
            }}{{instance['revision_id']
            }}{% endfor %}]
          </label>
        </li>
      {% endfor %}
    </ul>
    {% else %}
    There are no landing warnings.
    {% endif %}
  </div>
{% endif %}
