{% if revision['blocked_reason'] %}
<div class="StackPage-blockerReason">
    {% if revision["lando_revision"] and "QUEUED" in revision["lando_revision"].status %}
        <div class="Badge Badge--warning">Busy
    {% elif revision["lando_revision"] and "LAND" in revision["lando_revision"].status %}
        <div class="Badge Badge--positive">Waiting
    {% else %}
        <div class="Badge Badge--negative">Blocked
    {% endif %}
    <span class="icon is-small">
      <i class="fa fa-info-circle"></i>
    </span>
  </div>
  <div class="StackPage-blockerReason-tooltip">
    {{revision['blocked_reason']|escape_html|linkify_faq|safe}}
  </div>
</div>
{% endif %}
{% set status = revision['status'] %}
<div class="{{ status['value']|revision_status_to_badge_class }}">
  {{ status['display'] }}
</div>
