<nav class="Navbar nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
      <img
        class="Navbar-logo"
        src="{{ url_for('static', filename='images/logo/bird_128.png') }}"/>
      <span class="Navbar-title">LANDO</span>
      <span class="Navbar-subtitle">@MOZILLA</span>
    </a>
  </div>

  <div class="nav-right">
    <div class="nav-item">
      <div class="field is-grouped">
        <p class="control">
          <a class="Navbar-login button">
            <span class="icon">
              <i class="fa fa-user-circle"></i>
            </span>
            <span>Login with Auth0</span>
          </a>
        </p>
        <p class="control">
          <a class="button" >
            <span class="icon">
              <i class="fa fa-question-circle"></i>
            </span>
            <span>Help</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>
