{#
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.
#}

{% extends "partials/layout.html" %}
{% block main %}
<main class="container content">
  <div id="home">
    <h1>Welcome to Lando</h1>
    <p class="bordered">Lando is an automated code lander for Mozilla.
    It is integrated with
    our <a href="{{ config['PHABRICATOR_URL'] }}">Phabricator
    instance</a> and can be used to land revisions to various
    repositories.</p>

    <p>Each revision in Phabricator has a "View Stack in Lando" link in its
    action menu on the right.  This will take you to the Lando page
    associated with that revision.  If a revision cannot be landed,
    either due to its current state, or due to it not being configured
    in or supported by Lando, the link will be greyed out, but
    you can still follow it to view its details in Lando.</p>

    <p>For more information on Lando, consult the <a
    href="http://moz-conduit.readthedocs.io/en/latest/lando-user.html">user
    guide</a>.</p>
  </div>
</main>
{% endblock %}
