{% extends "partials/layout.html" %}
{% block main %}
<main class="container content">
  <div id="home">
    <h1>Welcome to Lando</h1>
    <p class="bordered">Lando is an automated code lander for Mozilla.</p>
  </div>

  <p>
    <em>You are {{ '' if user_authenticated else 'not' }} logged in!</em>
    {% if user_authenticated %}
      <a href="/logout">Sign Out</a>
    {% else %}
      <a href="/protected">Sign In</a>
    {% endif %}
  </p>

  <p>
    Here is an example revision: <a href="/revisions/D3">Phab Revision D3</a>
  </p>
</main>
{% endblock %}
