<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<title>Lando UI</title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<link rel="shortcut icon"
    href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
{% block body %}{% endblock %}
{% assets "vendor_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "main_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "vendor_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
