{% set latest_status = landing_statuses|latest_status %}
<div class="RevisionPage-actions">
  {% if is_user_authenticated() %}
    <button class="RevisionPage-land-button"
            data-latest-status="{{latest_status}}">
      <div class="RevisionPage-actions-headline">
        {{ 'Re-Land' if latest_status == 'landed' else 'Land' }} {{revision['id']}}
      </div>
      <div class="RevisionPage-actions-subtitle">
        Preview Landing
      </div>
    </button>
  {% else %}
    <button disabled>
      <div class="RevisionPage-actions-headline">Land {{revision['id']}}</div>
      <div class="RevisionPage-actions-subtitle">You must log in first</div>
    </button>
  {% endif %}
</div>
