{% set latest_status = landing_statuses|latest_status %}
{% set disabled = 'disabled' if warnings|length else '' %}
<div class="RevisionPage-actions">
  {% if latest_status == 'landed' %}
    <button {{disabled}}>
      <div class="RevisionPage-actions-headline">Re-land {{revision['id']}} </div>
      <div class="RevisionPage-actions-subtitle">queue for landing</div>
    </button>
  {% elif latest_status == 'submitted' %}
    <button disabled>
      <div class="RevisionPage-actions-headline">Landing Queued</div>
      <div class="RevisionPage-actions-subtitle">please wait</div>
    </button>
  {% else %}
    <button {{disabled}}>
      <div class="RevisionPage-actions-headline">Land {{revision['id']}}</div>
      <div class="RevisionPage-actions-subtitle">queue for landing</div>
    </button>
  {% endif %}
</div>
