<div class="Revision-Page-timeline">
  {% if landing_statuses %}
    {%- for status in landing_statuses|sort(attribute='updated_at', reverse=True) %}
      <div class="Revision-Page-timeline-item">
        <div class="Revision-Page-timeline-item-status">
          <span class="{{status|tostatusbadgeclass}}">{{status|tostatusbadgename}}</span>
        </div>

        <div class="Revision-Page-timeline-item-detail">
          With <a href="{{revision['url']}}?id={{status['diff_id']}}">Diff {{status['diff_id']}}</a>
          on <time data-timestamp="{{status['created_at']}}"></time>, by {{status['requester_email']}}.<br>
          {% if status['result'] %}
            <strong>Result:</strong> {{status['result']}}
          {% elif status['error_msg'] %}
            <strong>Error:</strong> {{status['error_msg']}}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="Revision-Page-timeline-item">
      <div class="Revision-Page-timeline-item-status">
        <span class="u-revision-badge">Not yet Landed</span>
      </div>
      <div class="Revision-Page-timeline-item-detail">
        There has been no attempt to land this revision.
      </div>
    </div>
  {% endif %}
</div>
