{% extends "partials/layout.html" %}
{% block page_title %}{{revision['id']}} - Lando - Mozilla{% endblock %}

{% block main %}
<main class="RevisionPage container content" data-state='{{ revision|tojson }}'>

  <!-- page heading -->
  <h1 class="RevisionPage-heading">{{revision['id']}}: {{revision['title']}}</h1>

  <div class="RevisionPage-revision"
    data-diff-id="{{revision['diff']['id']}}"
    data-revision-id="{{revision['id']}}">
    <form action="" method="post">
      {{form.csrf_token}}
      {{form.diff_id}}

      <!-- timeline -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Timeline
        </div>
        <div class="RevisionPage-section-contents">
          {% include "revision/partials/timeline.html" %}
        </div>
      </div>

      <!-- details -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Details
        </div>
        <div class="RevisionPage-section-contents">
          <div>
            <a href="{{revision['url']}}?id={{revision['diff']['id']}}">Diff {{revision['diff']['id']}}</a> authored by
            {% if revision['diff']['authors'] %}
            <strong>{{revision['diff']['authors'][0]['name']}} &lt;{{revision['diff']['authors'][0]['email']}}&gt;</strong>
            {% else %}
            Unknown
            {% endif %}
            on <time data-timestamp="{{revision['diff']['date_created']}}"></time>
          </div>
          {% with reviewers=revision['reviewers'] %}
            {% include "revision/partials/reviewers.html" %}
          {% endwith %}
        </div>
      </div>

      <!-- commit message -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Commit Message
        </div>
        <div class="RevisionPage-section-contents">
          <div clss="RevisionPage-commit-preview">
            {{revision['commit_message_title']}}
          </div>
          <div class="RevisionPage-commit-full">{{revision['commit_message']}}</div>
          <div class="RevisionPage-commit-buttons">
            <button type="button" class="show-full-message" data-hide-message="Hide Full Message">Toggle Full Commit Message</button>
          </div>
        </div>
      </div>

      {% if is_user_authenticated() %}
        {% if blockers %}
          {% include "revision/partials/blockers.html" %}
        {% else %}
          {% include "revision/partials/warnings.html" %}
          {% include "revision/partials/actions.html" %}
        {% endif %}
      {% else %}
        <ul class="RevisionPage-warnings">
            <li class="RevisionPage-warning">
              You must be logged in to initiate a landing.
            </li>
        </ul>
      {% endif %}

    </form>
  </div>
</main>
{% endblock %}
