{% extends "partials/layout.html" %}
{% block page_title %}{{revision['id']}} - Lando - Mozilla{% endblock %}

{% block main %}
<main class="RevisionPage container">

  {% if errors %}
    <!-- error messages -->
    <div class="RevisionPage-errors">
      <span>Landing Failed</span>
      <ul>
        {% for error in errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- page heading -->
  <h1 class="RevisionPage-heading">{{revision['id']}}: {{revision['title']}}</h1>

  <div class="RevisionPage-revision"
    data-diff-id="{{revision['diff']['id']}}"
    data-revision-id="{{revision['id']}}">
    <form class="RevisionPage-form" action="" method="post">
      {{form.csrf_token}}
      {{form.diff_id}}
      {{form.confirmation_token}}

      <!-- timeline -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Timeline
        </div>
        <div class="RevisionPage-section-contents">
          {% include "revision/partials/timeline.html" %}
        </div>
      </div>

      <!-- details -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Details
        </div>
        <div class="RevisionPage-section-contents">
          <div>
            <a href="{{revision['url']}}?id={{revision['diff']['id']}}">Diff {{revision['diff']['id']}}</a> authored by
            <strong>
              {{revision['diff']['author']['name'] or 'Unknown'}}
              {% if revision['diff']['author']['email'] %}
                &lt;{{revision['diff']['author']['email']}}&gt;
              {% endif %}
            </strong>
            on <time data-timestamp="{{revision['diff']['date_created']}}"></time>
          </div>
          {% with reviewers=revision['reviewers'] %}
            {% include "revision/partials/reviewers.html" %}
          {% endwith %}
        </div>
      </div>

      <!-- commit message -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Commit Message&nbsp
          <a class="RevisionPage-commit-expand" href="#">Show More</a>
        </div>
        <div class="RevisionPage-section-contents">
          <pre class="RevisionPage-commit-message">{{
            revision['commit_message']|escape_html|linkify_bug_numbers|linkify_revision_urls|safe
          }}
          </pre>
          <div class="RevisionPage-commit-see-more"></div>
        </div>
      </div>

      {% if landing_statuses|latest_status != 'submitted' %}
        <!-- warnings and blockers -->
        {% if is_user_authenticated() %}
          <div class="RevisionPage-landing-info">
            {% if blockers %}
              {% include "revision/partials/blockers.html" %}
            {% elif warnings %}
              {% include "revision/partials/warnings.html" %}
            {% else %}
              <ul class="RevisionPage-success">
                <li>
                  All prechecks have passed and this revision is clear to land.
                  Click the 'Confirm' button to continue.
                </li>
              </ul>
            {% endif %}
          </div>
        {% endif %}

        <!-- land button -->
        {% include "revision/partials/actions.html" %}
      {% endif %}
    </form>
  </div>
</main>
{% endblock %}
