{% extends "partials/layout.html" %}
{% block page_title %}D{{revision['id']}} - Lando - Mozilla{% endblock %}

{% block main %}
<main class="RevisionPage container content" data-state='{{ revision|tojson }}'>

  <div class="RevisionPage-revision"
    data-diff-id="{{revision['diff']['id']}}"
    data-revision-id="D{{revision['id']}}">
    <form action="" method="post">
      {{form.csrf_token}}
      {{form.diff_id}}

      <!-- page heading -->
      <h1 class="RevisionPage-heading">D{{revision['id']}}: {{revision['title']}}</h1>

      <!-- timeline -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Timeline
        </div>
        <div class="RevisionPage-section-contents">
          {% include "revision/partials/timeline.html" %}
        </div>
      </div>

      <!-- details -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Details
        </div>
        <div class="RevisionPage-section-contents">
          <div>
            <a href="{{revision['url']}}?id={{revision['diff']['id']}}">Diff {{revision['diff']['id']}}</a> authored by
            {% if revision['diff']['authors'] %}
            <strong>{{revision['diff']['authors'][0]['name']}} &lt;{{revision['diff']['authors'][0]['email']}}&gt;</strong>
            {% else %}
            Unknown
            {% endif %}
            on <time data-timestamp="{{revision['diff']['date_created']}}"></time>
          </div>
          {% with reviewers=revision['reviewers'] %}
            {% include "revision/partials/reviewers.html" %}
          {% endwith %}
        </div>
      </div>

      <!-- commit message -->
      <div class="RevisionPage-section-block">
        <div class="RevisionPage-section-label">
          Commit Message
        </div>
        <div class="RevisionPage-section-contents">
          <div clss="RevisionPage-commit-preview">
            {{revision['commit_message_preview']}}
          </div>
          <div class="RevisionPage-commit-full">{{revision['commit_message_preview']}}

{{revision['summary']}}</div>
          <div class="RevisionPage-commit-buttons">
            <button type="button" class="show-full-message" data-hide-message="Hide Full Message">Toggle Full Commit Message</button>
          </div>
        </div>
      </div>

      <!-- warnings -->
      {% include "revision/partials/warnings.html" %}

      <!-- actions -->
      <div class="RevisionPage-actions">
        <button>
          <div class="RevisionPage-actions-headline">Land D1057</div>
          <div class="RevisionPage-actions-subtitle">autoland is open</div>
        </button>

        <button disabled>
          <div class="RevisionPage-actions-headline">Landing Disabled</div>
          <div class="RevisionPage-actions-subtitle">autoland is closed</div>
        </button>

        <button disabled>
          <div class="RevisionPage-actions-headline">Landing in Progress</div>
          <div class="RevisionPage-actions-subtitle">check back soon</div>
        </button>
      </div>

    </form>
  </div>
</main>
{% endblock %}
